@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
    --gradient-color-1: #bde1ff;
    --gradient-color-2: #6ca0f4;
    --gradient-color-3: #e2d8ee;
    --gradient-color-4: #94c8ff;
}

#dark-gradient-canvas {
    --gradient-color-1: #19202c;
    --gradient-color-2: #0f3854;
    --gradient-color-3: #262536;
    --gradient-color-4: #1c2d3f;
}
