@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
    --gradient-color-1: #bde1ff;
    --gradient-color-2: #6ca0f4;
    --gradient-color-3: #e2d8ee;
    --gradient-color-4: #94c8ff;
}

#dark-gradient-canvas {
    --gradient-color-1: #111d46;
    --gradient-color-2: #0f3854;
    --gradient-color-3: #2c3555;
    --gradient-color-4: #111b38;
}
